html{
    background-color: white;
    height: 100%;
    width: 100%;
    margin:0; padding:0; border:0;
}

body{
    height: 100%;
    width: 100%;
    margin:0; padding:0; border:0;
}

h1{
    margin:0; padding:0; border:0;
}

h4{
    margin:0; padding:0; border:0;
}

.app{
    width: 100%;
    height: 100%;
}

.container-app{
    display: flex;
    grid-template-columns: 20% 80%;
    
}

.leftbar{
    width: 30%;
    border-right: 2px solid black;
    min-height: 400px;
}
.corpo{
    width: 70%;
}

.btn{
    border: 1px solid blue;
    padding: 2px;
    border-radius: 5px;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.prenotazione{
    border:1px solid black;
    border-radius: 15px;
    max-width: 500px;
    padding: 10px;
    margin:10px;
}

.img-lavatrice{
    height: 100px;
}

.box{
    display: flex;
}

.box-info{
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}