html{
    background-color: white;
    height: 100%;
    width: 100%;
    margin:0; padding:0; border:0;
}

body{
    height: 100%;
    width: 100%;
    margin:0; padding:0; border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0; padding:0; border:0;
}


ul{
    padding:0;
}

li{
    list-style-type: none;
}

.app{
    width: 100%;
    height: 100%;
}

.container-app{
    display: flex;
    grid-template-columns: 20% 80%;
}

.leftbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    border-right: 2px solid black;
    min-height: 400px;
    max-width: 300px;
}
.corpo{
    width: 70%;
}

.btn{
    border: 1px solid blue;
    background-color: rgba(18, 18, 209, 0.801);;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.menutext, .menutext:active{
    color: white;
    text-decoration: none;
}

.active{
    color:red;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrated{
    align-items: center;
    justify-content: center;
}

.prenotazione{
    border:1px solid black;
    border-radius: 15px;
    max-width: 500px;
    padding: 0;
    margin:10px;
}

.img-lavatrice{
    height: 100px;
    user-select: none;
}

.box{
    margin: 10px;
    display: flex;
}

.box-info{
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.delete{
    color: rgb(175, 0, 0);
    background-color: rgba(76, 169, 173, 0.445);
    padding:5px;
    text-align: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    cursor:pointer;
    transition: all 0.5s;
    user-select: none;
}

.delete:hover{
    color: red;
    background-color: rgba(54, 243, 253, 0.589);
}


.open{
    padding:7px;
    text-align: center;
    cursor:pointer;
    border-radius: 0 0 15px 15px;
    transition: all 0.5s;
    user-select: none;
}

.open:hover{
    background-color: rgba(255, 0, 0, 0.336);
}

.new-prenot{
    background-color: rgba(18, 18, 209, 0.801);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.full{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}