:root {
    --main-bg-color: rgba(86, 176, 228, 0.63);
    --components-bg-color:white;
    --btn-bg-color:rgba(18, 18, 209, 0.801);
    --btn-border-color: blue;
}

html{
    background-color: var(--components-bg-color);
    height: 100%;
    width: 100%;
    margin:0; padding:0; border:0;
}

body{
    height: 100%;
    width: 100%;
    margin:0; padding:0; border:0;
}

h1, h2, h3, h4, h5, h6{
    margin:0; padding:0; border:0;
    font-family: monospace;
}

h1{
    font-size: 50px;
}

hr{
    width: 90%;
    border-left:0;
    align-self: center;
}

ul{
    padding:0;
}

li{
    list-style-type: none;
}

.app{
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.title{
    background-color: var(--components-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    height: 100px;
    box-shadow: 
    -2px 5px 10px 0px rgb(122, 122, 122);
}

.menu-title{
    
    text-transform:uppercase;
    padding:10px;
}

.container-app{
    min-height: 80%;
    display: flex;
    grid-template-columns: 20% 80%;
}

.leftbar{
    background-color: var(--components-bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    max-width: 300px;
    box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.445);
    margin-right: 5px;
    margin-left: 5px;
}
.corpo{
    width: 70%;
}

.btn{
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.8);
    padding: 2px;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
    transition: all 0.3s;
    font-size: larger;
}

.btn:hover{
    transform:scale(1.1);
}

.menutext{
    color: white;
    text-decoration: none;
}


.menutext:active{
    color: rgb(255, 129, 129);
    text-decoration: none;
}

.active{
    color:red;
}

.main{
    background-color: var(--components-bg-color);
    width: 100%;
    box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
    margin-left: 5px;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centrated{
    align-items: center;
    justify-content: center;
}

.prenotazione{
    border:1px solid black;
    border-radius: 15px;
    max-width: 500px;
    padding: 0;
    margin:10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.img-lavatrice{
    height: 100px;
    user-select: none;
}

.box{
    margin: 10px;
    display: flex;
}

.ordered{
    padding: 20px;
    text-align: center;
    font-size: x-large;
}

.box-info{
    padding: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.delete{
    color: rgb(175, 0, 0);
    background-color: rgba(76, 169, 173, 0.445);
    padding:5px;
    text-align: center;
    border-top:1px solid black;
    border-bottom:1px solid black;
    cursor:pointer;
    transition: all 0.5s;
    user-select: none;
}

.delete:hover{
    color: red;
    background-color: rgba(54, 243, 253, 0.589);
}


.open{
    padding:7px;
    text-align: center;
    cursor:pointer;
    border-radius: 0 0 15px 15px;
    transition: all 0.5s;
    user-select: none;
}

.open:hover{
    background-color: rgba(255, 0, 0, 0.336);
}

.new-prenot{
    background-color: var(--btn-bg-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.full{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.main-title{
    padding:10px;
}

.btn-menu{
    display: none;
}
.background-menu{
    display: none;
}

@media only screen and (max-width: 700px) {
    .leftbar{
        position: absolute;
        visibility: hidden;
        height: 80%;
        width: 95%;
        z-index: 2;
        transform: translateX(-110%);
        transition: all 0.3s;
    }

    .menuopen{
        visibility: visible;
        transform: translateX(0%);
    }

    .btn-menu{
        display:block;
        position: absolute;
        left: 25px;
        top: 25px;
        cursor: pointer;
        width: 50px;
        transition: all 0.3s;
    }
    .btn-toggled{
        transform: rotate(90deg);
    }
    .background-menu{
        display:block;
        visibility: hidden;
        position:fixed;
        z-index: 1;
        top: 100px;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        transition: all 0.3s;
    }
    .backgroundon{
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .btn, h2, h3, h4, h5, h6{
        font-size:x-large;
    }

    h1{
        font-size: 40px;
    }


}